In [1]:
#Import Dependencies
import pandas as pd

In [2]:
#Import CSVs and Merge to single dataset 
school_data = pd.read_csv('../GRADE_THIS/PyCitySchools/Resources/schools_complete.csv')
student_data = pd.read_csv('../GRADE_THIS/PyCitySchools/Resources/students_complete.csv')

school_student_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

# District Summary

In [3]:
##Calculate the total number of schools
schools_total = school_student_complete["school_name"].nunique()

##Calculate the total number of students
student_total = school_student_complete["student_name"].count()

##Calculate the total budget
budget_total = school_data["budget"].sum()

##Calculate the average Math Score
average_math_score = school_student_complete["math_score"].mean()

##Calculate the average Reading Score
average_reading_score = school_student_complete["reading_score"].mean()

##Calculate the % students passing Math (Greater than 70)
perc_pass_math = school_student_complete.loc[school_student_complete["math_score"]>=70]["student_name"].count()/student_total

##Calculate the % students passing Reading (Greater then 70)
perc_pass_read = school_student_complete.loc[school_student_complete["reading_score"]>=70]["student_name"].count()/student_total

##Calculate the overall passing rate
perc_pass_overall = (average_math_score+average_reading_score)/2

In [4]:
##Create District Summary Table
dist_summ = pd.DataFrame({"Total Schools": [schools_total],
                         "Total Students":  [student_total],
                         "Total Budget": [budget_total],
                         "Average Math Score": [average_math_score],
                         "Average Reading Score": [average_reading_score],
                         "% Passing Math":  [perc_pass_math],
                         "% Passing Reading":  [perc_pass_read],
                         "Overall Passing Rate": [perc_pass_overall]})

##Format Columns
dist_summ["Total Budget"] = dist_summ["Total Budget"].astype(float).map("${:,.2f}".format)
dist_summ["Average Math Score"] = dist_summ["Average Math Score"].astype(float).map("{:.2f}".format)
dist_summ["Average Reading Score"] = dist_summ["Average Reading Score"].astype(float).map("{:.2f}".format)
dist_summ["% Passing Math"] = dist_summ["% Passing Math"].astype(float).map("{:.2%}".format)
dist_summ["% Passing Reading"] = dist_summ["% Passing Reading"].astype(float).map("{:.2%}".format)
dist_summ["Overall Passing Rate"] = dist_summ["Overall Passing Rate"].astype(float).map("{:.2f}%".format)

dist_summ

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170,"$24,649,428.00",78.99,81.88,74.98%,85.81%,80.43%

# School Summary

In [5]:
##Group by school
by_school = school_student_complete.set_index("school_name").groupby(["school_name"])

In [6]:
##Calculate School Type
school_type = school_data.set_index("school_name")["type"]

##Calculate the total number of students
group_student_total = by_school["Student ID"].count()

##Calculate the total budget
group_budget_total = school_data.set_index("school_name")["budget"]

##Calculate Budget per Student
student_budget = group_budget_total/group_student_total

##Calculate the average Math Score

group_average_math_score = by_school["math_score"].mean()

##Calculate the average Reading Score
group_average_reading_score = by_school["reading_score"].mean()

##Calculate the % students passing Math (Greater than 70)
group_perc_pass_math = (school_student_complete.loc[school_student_complete["math_score"]>=70].groupby("school_name")["student_name"].count()/group_student_total)*100

##Calculate the % students passing Reading (Greater then 70)
group_perc_pass_read = (school_student_complete.loc[school_student_complete["reading_score"]>=70].groupby("school_name")["student_name"].count()/group_student_total)*100

##Calculate the overall passing rate
group_perc_pass_overall = (group_average_math_score+group_average_reading_score)/2

In [7]:
##School Summary Table
school_summ = pd.DataFrame({
    "School Type": school_type,
    "Total Students": group_student_total,
    "Total Budget": group_budget_total,
    "Per Student Budget": student_budget,
    "Average Math Score": group_average_math_score,
    "Average Reading Score": group_average_reading_score,
    '% Passing Math': group_perc_pass_math,
    '% Passing Reading': group_perc_pass_read,
    "Overall Passing Rate": group_perc_pass_overall
})

##Format Columns
school_summ["Total Budget"] = school_summ["Total Budget"].map("${:,.2f}".format)
school_summ["Average Math Score"] = school_summ["Average Math Score"].map("{:.2f}".format)
school_summ["Average Reading Score"] = school_summ["Average Reading Score"].map("{:.2f}".format)
school_summ["% Passing Math"] = school_summ["% Passing Math"].map("{:.2f}%".format)
school_summ["% Passing Reading"] = school_summ["% Passing Reading"].map("{:.2f}%".format)
school_summ["Overall Passing Rate"] = school_summ["Overall Passing Rate"].map("{:.2f}%".format)

school_summ

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Bailey High School,District,4976,"$3,124,928.00",628.0,77.05,81.03,66.68%,81.93%,79.04%
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.06,83.98,94.13%,97.04%,83.52%
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.71,81.16,65.99%,80.74%,78.93%
Ford High School,District,2739,"$1,763,916.00",644.0,77.10,80.75,68.31%,79.30%,78.92%
Griffin High School,Charter,1468,"$917,500.00",625.0,83.35,83.82,93.39%,97.14%,83.58%
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.29,80.93,66.75%,80.86%,79.11%
Holden High School,Charter,427,"$248,087.00",581.0,83.80,83.81,92.51%,96.25%,83.81%
Huang High School,District,2917,"$1,910,635.00",655.0,76.63,81.18,65.68%,81.32%,78.91%
Johnson High School,District,4761,"$3,094,650.00",650.0,77.07,80.97,66.06%,81.22%,79.02%
Pena High School,Charter,962,"$585,858.00",609.0,83.84,84.04,94.59%,95.95%,83.94%
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.84,80.74,66.37%,80.22%,78.79%
Shelton High School,Charter,1761,"$1,056,600.00",600.0,83.36,83.73,93.87%,95.85%,83.54%
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.42,83.85,93.27%,97.31%,83.63%
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.27,83.99,93.87%,96.54%,83.63%
Wright High School,Charter,1800,"$1,049,400.00",583.0,83.68,83.95,93.33%,96.61%,83.82%

# Top Performing Schools (by Passing Rate)

In [11]:
top_five_schools = school_summ.sort_values("Overall Passing Rate", ascending = False)
top_five_schools.head()

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Pena High School,Charter,962,"$585,858.00",609.0,83.84,84.04,94.59%,95.95%,83.94%
Wright High School,Charter,1800,"$1,049,400.00",583.0,83.68,83.95,93.33%,96.61%,83.82%
Holden High School,Charter,427,"$248,087.00",581.0,83.80,83.81,92.51%,96.25%,83.81%
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.42,83.85,93.27%,97.31%,83.63%
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.27,83.99,93.87%,96.54%,83.63%

# Bottom Performing Schools (by Passing Rate)

In [12]:
bottom_five_schools = school_summ.sort_values("Overall Passing Rate")
bottom_five_schools.head()

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.84,80.74,66.37%,80.22%,78.79%
Huang High School,District,2917,"$1,910,635.00",655.0,76.63,81.18,65.68%,81.32%,78.91%
Ford High School,District,2739,"$1,763,916.00",644.0,77.10,80.75,68.31%,79.30%,78.92%
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.71,81.16,65.99%,80.74%,78.93%
Johnson High School,District,4761,"$3,094,650.00",650.0,77.07,80.97,66.06%,81.22%,79.02%

# Math Scores by Grade

In [13]:
##Average Math Scores by Grade at each school
ninth_math = school_student_complete.loc[school_student_complete["grade"]=="9th"].groupby("school_name")["math_score"].mean()
tenth_math = school_student_complete.loc[school_student_complete["grade"]=="10th"].groupby("school_name")["math_score"].mean()
eleventh_math = school_student_complete.loc[school_student_complete["grade"]=="11th"].groupby("school_name")["math_score"].mean()
twelfth_math = school_student_complete.loc[school_student_complete["grade"]=="12th"].groupby("school_name")["math_score"].mean()

In [14]:
##Summary Table
math_scores = pd.DataFrame({"9th":  ninth_math,
                           "10th":  tenth_math,
                           "11th":  eleventh_math,
                           "12th":  twelfth_math
                           })

#Format Columns
math_scores["9th"] = math_scores["9th"].astype(float).map("{:.2f}".format)
math_scores["10th"] = math_scores["10th"].astype(float).map("{:.2f}".format)
math_scores["11th"] = math_scores["11th"].astype(float).map("{:.2f}".format)
math_scores["12th"] = math_scores["12th"].astype(float).map("{:.2f}".format)

math_scores

                         9th   10th   11th   12th
school_name
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

# Reading Scores by Grade

In [15]:
##Average Reading Scores by Grade at each school
ninth_read = school_student_complete.loc[school_student_complete["grade"]=="9th"].groupby("school_name")["reading_score"].mean()
tenth_read = school_student_complete.loc[school_student_complete["grade"]=="10th"].groupby("school_name")["reading_score"].mean()
eleventh_read = school_student_complete.loc[school_student_complete["grade"]=="11th"].groupby("school_name")["reading_score"].mean()
twelfth_read = school_student_complete.loc[school_student_complete["grade"]=="12th"].groupby("school_name")["reading_score"].mean()

In [16]:
##Summary Table
read_scores = pd.DataFrame({"9th":  ninth_read,
                           "10th":  tenth_read,
                           "11th":  eleventh_read,
                           "12th":  twelfth_read
                           })

#Format Columns
read_scores["9th"] = read_scores["9th"].astype(float).map("{:.2f}".format)
read_scores["10th"] = read_scores["10th"].astype(float).map("{:.2f}".format)
read_scores["11th"] = read_scores["11th"].astype(float).map("{:.2f}".format)
read_scores["12th"] = read_scores["12th"].astype(float).map("{:.2f}".format)

read_scores

                         9th   10th   11th   12th
school_name
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

# Scores by School Spending

In [17]:
##Create Bins and Labels
spend_bins = [0, 580, 610, 640, 670]
group_labels = ["< $580", "$581 to $610", "$611 to $640", "$641 to $670"]


##Slice date into bins and place into a new column
school_summ["School Spending"] = pd.cut(student_budget, spend_bins, labels=group_labels)

school_summ_spend = school_summ

school_summ_spend = school_summ_spend[["School Spending","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "Overall Passing Rate"]]

school_summ_spend = school_summ_spend.groupby(("School Spending"), as_index=True).mean()

school_summ_spend

DataError: No numeric types to aggregate

# Scores by School Size

In [ ]:
##Create Bins and Labels
size_bins = [0, 1000, 2500, 5000]
size_labels = ["Small (< 1000)", "Medium (1001-2500)", "Large (2501-5000)"]


##Slice date into bins and place into a new column
school_summ["School Size"] = pd.cut(school_summ["Total Students"], size_bins, labels=size_labels)

school_summ_size = school_summ

school_summ_size = school_summ_size[["School Size","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "Overall Passing Rate"]]

school_summ_size = school_summ_size.groupby(("School Size"), as_index=True).mean()

school_summ_size

# Scores by School Type

In [ ]:
school_summ_type = school_summ

school_summ_type = school_summ_type[["School Type","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "Overall Passing Rate"]]

school_summ_type = school_summ_type.groupby(("School Type"), as_index=True).mean()

school_summ_type

# Analysis

Overall data across all districts show that average reading score is higher and as a result the percentage of students pass is higher.

When you group by schools and sort by Overall passing rate, the top 5 performers are charter schools while the bottom 5 performers are District schools

This was apparent when you look at the data by school type.  Charter Schools had higher average math and reading scores, percentage of students passing both Math and Reading.

Interestingly, when you slice the data by school spending per student, those schools that spend less than $580 per student have higher passing rates in both Math and Reading.

When you look at the data based on the size of the school, smaller schools (school size less than 1000) had the highest Math and Reading scores and Overall Passing Rate but mediums size schools had the highest percent of students that had passing Math and Reading scores.